
/* *{
    background-color: #f4f4f4;
} */

.header {
    background-image: url('images/logo.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    /* font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin: 0; */
    margin-top: auto;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin: -1px;
    margin-top: 332px;
}

.about-us {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}
.about-us h2 {
    font-size: 2.5rem;
    color: #333;
}
.about-us p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.8;
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}
h2 {
    text-align: center;
}

.contact-section {
    background-color: #fff; /* لون الخلفية */
    border: 1px solid #ddd; /* الحدود */
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #009999; /* لون زر إرسال */
}

footer {
    background-color: #ccc;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 0xp;
}
